footer{
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color:  #4D685A;
    color:  #4D685A;
    text-align: center;
    background: #50FFB1;
    border-top: 8px solid whitesmoke;
    height: 50px;
    width:100%;
}